D:\Python_11_GoIT\_final\Personal_assistant\Assistant\personal_assistant\myenv
D:\Python_11_GoIT\_final\Personal_assistant\Assistant\personal_assistant\__pycache__
personal_assistant/__pycache__/weather.cpython-310.pyc
personal_assistant/__pycache__/phone_bot.cpython-310.pyc
personal_assistant/__pycache__/phone_book.cpython-310.pyc
personal_assistant/__pycache__/note_book.cpython-310.pyc
personal_assistant/__pycache__/files_manager.cpython-310.pyc
personal_assistant/__pycache__/exception.cpython-310.pyc
personal_assistant/.idea/vcs.xml
personal_assistant/.idea/personal_assistant.iml
personal_assistant/.idea/modules.xml
personal_assistant/.idea/misc.xml
personal_assistant/.idea/inspectionProfiles/Project_Default.xml
personal_assistant/.idea/inspectionProfiles/profiles_settings.xml
assistant_bot.egg-info/top_level.txt
assistant_bot.egg-info/SOURCES.txt
assistant_bot.egg-info/requires.txt
assistant_bot.egg-info/PKG-INFO
assistant_bot.egg-info/entry_points.txt
assistant_bot.egg-info/dependency_links.txt
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Assistant.iml
